{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AdventureWorks Profiles</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"-->
   
    
    <!--Custom styles for this template-->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
  </head>

  <body>

{% include 'navbar.html' %}
<div class="container theme-showcase" role="main"> 
{% block jumbotron %}
{% endblock %}

{% block content %}
<h1> Hello, World!</h1>
{% endblock %}

{% block styles %}
{% endblock %}
       
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js'%}"></script>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
    <script>
    {% block script %}

    {% endblock%}
    </script>
    <script>
        $(document).ready(function(){
            {% block jquery %}
            {% endblock %}
        });
    </script>
  </body>
</html>