body {

	background: url("nature.jpg") no-repeat;
	background-size: cover;
	font-family: Arial;
	color: white;
}

ul{
	margin: 0px; 
	padding: 0px;
	list-style: none;
}
ul li {
	float: left;
	width: 300px;
	height: 40px;
	background-color: gold;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	margin-right:4px;
}
ul li a {
	text-decoration: none;
	color:white;
	display: block;
}
ul li a:hover{
	background-color: green;
}

ul li ul li{
	display: none;
}
ul li:hover ul li {
	display: block;
}